body{
    background-color: #2B364A;
    margin: 0%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.hor{
    display: flex;
    flex-direction: row;
}

a{
    color: white;
    text-decoration: none;
    align-self: center;
    font-family: "Inter", sans-serif;
}

a:hover {
    color: #5A93FA;
}

.bodyHome{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px;
    color: white;
    font-family: "Inter", sans-serif;
}

.fillScreen{
    margin-top: 0.7%;
    margin-bottom: 0.2%;    
    display: block;
    width: 100%;
    height: auto;
}
